# Project Details
PROJECT_NAME="VIDEO ANALYSIS"
DESCRIPTION="" 


# FAST API Config
HOST=0.0.0.0
PORT=8000
DEBUG=true 
VERSION ="1"
SECRET_KEY="rE}.;m<:^xI2FEx~5Z&U:L3"
LOG_LEVEL="INFO"  # Log Levels are:"DEBUG","INFO","WARNING","ERROR","CRITICAL"


# Open AI API 
OPENAI_API_KEY=sk-proj-y1txISgYZaINKzRjtt24T3BlbkFJ2lyVX5wx5SymmUEDHKwC
